/* Start Variables */
:root {
  --main-color: #19c8fa;
  --primary-color: rgb(15 116 143 /60%);
  --section-padding: 100px;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  bottom: 0;
  /* left: 15px; */
}
header .logo img {
  height: 50px;
}
header nav {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
  position: relative;
  transition: color 0.3s ease, border 0.3s ease;
}

header nav ul li a {
  display: block;
  text-transform: uppercase;
  padding: 40px 10px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease, border 0.3s ease;
  position: relative;
  z-index: 3;
}
/* ! toggle */
header nav .toggle-menu {
  color: white;
  cursor: pointer;
}
/* ! to show toggle */
header nav ul.show {
  display: flex;
}
header nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav ul li a:hover {
  color: #149bc0;
  border-bottom: 1px solid #149bc0;
}

/* ! Search Box */
header .search-box {
  width: 200px;
  height: 30px;
  position: relative;
  margin-left: 30px;
}
header .search-box i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}
.search-input:focus {
  border-color: #007bff;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.2);
}

.search-input {
  width: 100%;
  padding: 8px 35px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  transition: 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
/* ! media for heading */
@media (max-width: 991px) {
  header nav {
    position: relative;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: center;
  }

  header .search-box {
    width: calc(100% - 75px);
    position: absolute;
    left: 0;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: calc(100% + 35px);
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  header nav ul li a {
    padding: 15px !important;
  }

  header nav .toggle-menu {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  header nav .toggle-menu {
    display: none;
  }
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #000;
  background-size: cover;
  position: relative;
  background-position: center;
  transition: background-image 1s ease-in-out; /* تأثير السلاسة */
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 60%;
  transform: translateY(-50%);
  padding: 40px;
  color: white;
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.landing .text .content {
  max-width: 500px;
}

@media (max-width: 991px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
    margin-left: 20px;
  }
}
.landing .text .content h1 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .content p {
  line-height: 2;
  font-size: 14px;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
  cursor: pointer;
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}

.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
  bottom: 20px;
  display: flex;
  justify-content: center;
}
.landing .bullets li {
  width: 15px;
  height: 15px;
  border: solid 1px white;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}
.landing .bullets .active-bullet {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End Landing */
